// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
$font-family: 'Rubik', sans-serif; 

// ancho del layout
$small: 600px;
$desktop: 1440px;

// Colores
$color-Moderate-blue: hsl(238, 40%, 52%);
$color-icon-edit: #5357B6;
$color-Soft-Red: hsl(358, 79%, 66%);
$color-icon-delete: #ED6368;
$color-Light-grayish-blue: hsl(239, 57%, 85%);
$color-Pale-red: hsl(357, 100%, 86%);
// colores neutrales 
$color-Dark-blue: hsl(212, 24%, 26%);
$color-Grayish-Blue: hsl(211, 10%, 45%);
$color-Light-gray: hsl(223, 19%, 93%);
$color-Very-light-gray: hsl(228, 33%, 97%);
$color-White: hsl(0, 0%, 100%);

// Tipografía
$font-size: 16px;